<tmpl_include name="../../header.html">
  
  <form name="form" method="post" action="<tmpl_var name=URL_ADMIN_PRODUCTS>">
    <input type="hidden" name="mode" value="results" />
      
  <table class="data">
    <thead>
      <tr>
	<th>Search Products</th>
      </tr>
    </thead>
    <tbody>
      <tr>
	<td>
	  <table class="data-fields">
	    <tr>
	      <th>
		Keyword(s) :
	      </th>
	      <td>
		<input type="text" name="keywords" size="40" />
	      </td>
	    </tr>
	    <tr>
	      <th>
		Item Name :
	      </th>
	      <td>
		<input type="text" name="item_name" size="40" />
	      </td>
	    </tr>
	    <tr>
	      <th>
		Description :
	      </th>
	      <td>
		<input type="text" name="description" size="40" />
	      </td>
	    </tr>
	    <tr>
	      <th>
		Min US Price :
	      </th>
	      <td>
		<input type="text" name="min_price" size="40" />
	      </td>
	    </tr>
	    <tr>
	      <th>
		Max US Price :
	      </th>
	      <td>
		<input type="text" name="max_price" size="40" />
	      </td>
	    </tr>
	    <tr>
	      <th>
		Catalog :
	      </th>
	      <td>
		<input type="text" name="catalog" size="40" />
	      </td>
	    </tr>
	  </table>
	</td>
      </tr>
      <tr class="buttons">
	<td>
	  <input type="submit" name="submit_search" value="Submit" />
	</td>
      </tr>
    </tbody>
  </table>
  <br />

    </form>
      
<tmpl_include name="../../footer.html">
