<tmpl_include name="../header.html">
  
  <form name="form" method="post" action="<tmpl_var name=URL_ADMIN_CUSTOMERS>" onSubmit="return verify_admin_customers_add();">
    <input type="hidden" name="mode" value="add" />
    <input type="hidden" name="submit_add" value="1" />
    
  <div id="innerRight">
    <div id="featured">
      <h1>Aztecimport.com<br />
	Manage Customers</h1>
      <div class="featuredLeft" style="width: 265; height: 110">
	
	<p><br>
	  Enter the customer information to add a new customer.</p>
	<p class="error"><tmpl_var name=error_msg></p>
      </div>
      <div class="featuredRight">
	<h2>Username :<br>
	<input type="text" name="username" style="width:120px" size="30" /><br><br>
	<h2>Password :<br>
	<input type="text" name="password" style="width:120px" size="30" /><br><br>
	<div align="left">
	  <input name="T1" type="image" src="/images/submit_btn.jpg" alt="Submit" width="58" height="19" />
	</div>
	&nbsp;</h2>
      </div>

  </form>

</html>
