<tmpl_include name="../header.html">
  
  <form name="form" method="post" action="<tmpl_var name=URL_ADMIN_CUSTOMERS>" onSubmit="return verify_admin_customers_add();">
    <input type="hidden" name="mode" value="edit" />
    <input type="hidden" name="submit_edit" value="1" />
    <input type="hidden" name="id" value="<tmpl_var name=id>" />
    
  <div id="innerRight">
    <div id="featured">
      <h1>Aztecimport.com<br />
	Edit Customer</h1>
      <div class="featuredLeft" style="width: 265; height: 110">
	
	<p><br>
	  Enter the customer information to edit this customer.</p>
	<p class="error"><tmpl_var name=error_msg></p>
      </div>
      <div class="featuredRight">
	<h2>Username :<br>
	<input type="text" name="username" value="<tmpl_var name=username>" style="width:120px" size="30" /><br><br>
	<h2>Password :<br>
	<input type="text" name="password" value="<tmpl_var name=password>" style="width:120px" size="30" /><br><br>
	<div align="left">
	  <input name="T1" type="image" src="/images/submit_btn.jpg" alt="Submit" width="58" height="19" />
	</div>
	&nbsp;</h2>
      </div>

  </form>

</html>
