<tmpl_include name="../../header.html">

  <form name="form" method="post" action="<tmpl_var name=URL_ADMIN_USERS>">
    <input type="hidden" name="mode" value="delete" />
    <input type="hidden" name="id" value="<tmpl_var name=id>" />

  <table class="data">
    <thead>
      <tr>
	<th>Admin Confirm Delete User</th>
      </tr>
    </thead>
    <tbody>
      <tr>
	<td>
	  <table class="data-fields">
	    <tr><td>&nbsp;</td></tr>
	    <tr>
	      <td>
		Are you sure you want to delete user <tmpl_var name=username>?
	      </td>
	    </tr>
	    <tr><td>&nbsp;</td></tr>
	  </table>
	</td>
      </tr>
      <tr class="buttons">
	<td>
	  <input type="button" name="submit_delete" value="No" onClick="history.go(-1); return false;" />
	  <input type="submit" name="submit_delete" value="Yes" />
	</td>
      </tr>
    </tbody>
  </table>
  <br />

  </form>
      
<tmpl_include name="../../footer.html">
