<tmpl_include name="../../header.html">

  <tmpl_if name=error_msg>
    <p class="error"><tmpl_var name=error_msg></p>
    </tmpl_if>
    
    <form name="form" method="post" action="<tmpl_var name=URL_ADMIN_USERS>" onSubmit="return verify_admin_user();">
      <input type="hidden" name="mode" value="edit" />
      <input type="hidden" name="id" value="<tmpl_var name=id>" />
      
    <table class="data">
      <thead>
	<tr>
	  <th>User Information</th>
	</tr>
      </thead>
      <tbody>
	<tr>
	  <td>
	    <table class="data-fields">
	      <tr>
		<th>Username :</th>
		<td>
		  <input type="text" name="username" size="40" value="<tmpl_var name=username>" />
		</td>
	      </tr>
	      <tr>
		<th>Password :</th>
		<td>
		  <input type="password" name="password" size="40" value="<tmpl_var name=password>" />
		</td>
	      </tr>
	      <tr>
		<th>Name :</th>
		<td>
		  <input type="text" name="name" size="40" value="<tmpl_var name=name>" />
		</td>
	      </tr>
	      <tr>
		<th>Email :</th>
		<td>
		  <input type="text" name="email" size="40" value="<tmpl_var name=email>" />
		</td>
	      </tr>
	    </table>
	  </td>
	</tr>
	<tr class="buttons">
	  <td>
	    <input type="button" name="back" value="Cancel" onClick="history.go(-1);" />
	    <input type="submit" name="submit_edit" value="Submit" />
	  </td>
	</tr>
      </tbody>
    </table>
    <br />

    </form>
      
<tmpl_include name="../../footer.html">
