<tmpl_include name="../../header.html">

  <form name="form" method="post" action="<tmpl_var name=URL_ADMIN_USERS>">

  <table class="data">
    <thead>
      <tr>
	<th>Administrative Users</th>
      </tr>
    </thead>
    <tbody>
      <tr>
	<td>
	  <table class="data-fields">
	    
	    <tmpl_if name=users>
	      <tr class="search_columns">
		<td></td>
		<td></td>
		<td>Name</td>
		<td>Email</td>
		<td>Username</td>
		<td>Password</td>
	      </tr>
	      <tmpl_loop name=users>
		<tr class="<tmpl_if name=__odd__>odd<tmpl_else>even</tmpl_if>">
		  <td><a href="<tmpl_var name=URL_ADMIN_USERS>?mode=edit&id=<tmpl_var name=id>">Edit</a></td>
		  <td><a href="<tmpl_var name=URL_ADMIN_USERS>?mode=delete&id=<tmpl_var name=id>">Delete</a></td>
		  <td><tmpl_var name=name></td>
		  <td><tmpl_var name=email></td>
		  <td><tmpl_var name=username></td>
		  <td><tmpl_var name=password></td>
		</tr>
	      </tmpl_loop>
	      <tmpl_else>
		<tr><td>&nbsp;</td></tr>
		<tr>
		  <td>
		    There are currently no Administrative Users
		  </td>
		</tr>
		<tr><td>&nbsp;</td></tr>
	      </tmpl_if>
	  </table>
	</td>
      </tr>
    </tbody>
  </table>
  <div align="right">
    <a href="<tmpl_var name=URL_ADMIN_USERS>?mode=add">Add User --></a>
  </div>
  <br />

  </form>
      
<tmpl_include name="../../footer.html">
