a:link  {
	color: #2170BD; /* Link */
}

a:visited  {
	color: #2170BD; /* Link */
}

li.default{
	color: #222847; /* Text Dark */
}
li.highlight{
	color: #222847; /* Text Dark */
}
li.linked{
	color: #2170BD; /* Link */
}

div.boxTop {
	background-color: #9BB6D2; /* Table BG Dark */
}

div.linkBox {
	border: 1px solid #4B647F; /* Border Dark*/
	background-color: #E0E8F0; /* Table BG Light */
}

div.bannerNav {
	border: 1px solid #768FB1; /* Border Light*/
	background-color: #E0E8F0; /* Table BG Light */
	color: #222847; /* Text Dark */
}

div.calendarNav {
  border: 0;
}

table.calendar {
	border: 1px solid #768FB1; /* Border Light */
}

table.calendar th{
	border: 1px solid #768FB1; /* Border Light*/
	background-color: #9BB6D2; /* Table BG Dark */
}

table.calendar tr.day td{
	border: 1px solid #768FB1; /* Border Light*/
	background-color: #E0E8F0; /* Table BG Light */
}

table.calendar tr.box td{
	border: 1px solid #768FB1; /* Border Light*/
}

table.labelBox tr td{
	background-color: #E0E8F0; /* Table BG Light */
}

table.labelBox td, table.labelBox th{
	border: 1px solid #768FB1; /* Border Light*/
}

.homeFeatureContainer{
	border-top: 1px dotted #4B647F; /* Border Dark*/ 
}

div.hr {
	border-bottom: 1px solid #4B647F; /* Border Dark*/
}

div.imgBox img {
	border: 1px solid #4B647F; /* Border Dark*/
}

div.imgBoxLeft img {
	border: 1px solid #4B647F; /* Border Dark */
}

div.imgBoxColumn img {
	border: 1px solid #4B647F; /* Border Dark */
}

div.imgBoxTwoColumn img {
	border: 1px solid #4B647F; /* Border Dark */
}

div.imgBoxLrgRight img {
	border: 1px solid #4B647F; /* Border Dark */
}
div.imgBoxSmlRightTop img {
	border: 1px solid #4B647F; /* Border Dark */
}
div.imgBoxSmlRightBot img {
	border: 1px solid #4B647F; /* Border Dark */
}

.Layout  {
	border-top-color: #768FB1; /* Border Light */
	border-right-color: #768FB1; /* Border Light */
	border-bottom-color: #768FB1; /* Border Light */
	border-left-color: #768FB1; /* Border Light */
	background-color: #E1EEF0; /* Page Background */
}

.topNavTable  {
	color: #EAEFF5; /* Text Light */
	background-color: #7EBED5; /* Tertiary */
}

.BodyCell  {
}

.BodyCell_paddingRightLeft {
}

.BodyCell_noPadding {
}

.TopCell  {
	color: #2170BD; /* Link */
	border-bottom-color: #768FB1; /* Border Light */
}

.FeedbackCell  {
	color: #2170BD; /* Link */
	border-bottom-color: #768FB1; /* Border Light */
}

.TopLink  {
	color: #2170BD; /* Link */
}

.FeaturedItemBody  {
	color: #222847; /* Text Dark */
}

.FeaturedItemBody_paddingTop15px {
	color: #222847; /* Text Dark */
}

.FeaturedItemBodyText  {
	color: #222847; /* Text Dark */
}

.FeaturedItemBodyTextBold  {
	color: #003399; /* Primary */
}

.FeaturedItemDetailBullet  {
	color: #EAEFF5; /* Text Light */
	background-color: #4B74D5; /* Secondary */
}

.FeaturedItemDetailCell  {
	color: #003399; /* Primary */
}

.FeaturedItemDetailCell_noLineHeight {
	color: #003399; /* Primary */
}

.FeaturedItemDetailCell_fontSize11px_lineHeight16px {
	color: #003399; /* Primary */
}

.FeaturedItemDetailTable  {
	background-color: #9BB6D2; /* Table BG Dark */
	border-top-color: #768FB1; /* Border Light */
	border-right-color: #768FB1; /* Border Light */
	border-bottom-color: #768FB1; /* Border Light */
	border-left-color: #768FB1; /* Border Light */
}

.GalleryImage  {
	border-top-color: #768FB1; /* Border Light */
	border-right-color: #768FB1; /* Border Light */
	border-bottom-color: #768FB1; /* Border Light */
	border-left-color: #768FB1; /* Border Light */
}

.GalleryCell  {
}

.GalleryCell_paddingBottom15px {
}

.GalleryCell_paddingLeft10px_paddingBottom10px {
}

.GalleryCell_paddingRight10px_paddingTop10px {
}

.GalleryCell_paddingRight10px_paddingTop10px_paddingBottom10px {
}

.GalleryCell_paddingRight10px_paddingTop20px {
}

.TopBody  {
	color: #222847; /* Text Dark */
}

.calendarText  {
	color: #222847; /* Text Dark */
	background-color: #E0E8F0; /* Table BG Light */
	border-top: 1px solid #768FB1; /* Border Light */
	border-right: 1px solid #768FB1; /* Border Light */
}

.calendarTextLast  {
	color: #222847; /* Text Dark */
	background-color: #E0E8F0; /* Table BG Light */
	border-top: 1px solid #768FB1; /* Border Light */
}

.date  {
	color: #222847; /* Text Dark */
	background-color: #9BB6D2; /* Table BG Dark */
	border-top: 1px solid #4B647F; /* Border Dark */
	border-right: 1px solid #768FB1; /* Border Light */
}

.dateLast  {
	color: #222847; /* Text Dark */
	background-color: #9BB6D2; /* Table BG Dark */
	border-top: 1px solid #4B647F; /* Border Dark */
}

.dayOfWeek  {
	color: #EAEFF5; /* Text Light */
	background-color: #003399; /* Primary */
	border-right: 1px solid #768FB1; /* Border Light */
}

.dayOfWeekLast  {
	color: #EAEFF5; /* Text Light */
	background-color: #003399; /* Primary */
}

.monthYear  {
	color: #222847; /* Text Dark */
	background-color: #9BB6D2; /* Table BG Dark */
}

.CalendarLayout  {
	border-top-color: #768FB1; /* Border Light */
	border-right-color: #768FB1; /* Border Light */
	border-bottom-color: #768FB1; /* Border Light */
	border-left-color: #768FB1; /* Border Light */
}

.YearCell  {
	color: #222847; /* Text Dark */
	border-bottom-color: #7EBED5; /* Tertiary */
}

.FeaturedItemImage  {
	border-top-color: #768FB1; /* Border Light */
	border-right-color: #768FB1; /* Border Light */
	border-bottom-color: #768FB1; /* Border Light */
	border-left-color: #768FB1; /* Border Light */
}

.FeaturedItemBodyCell  {
}

.FeaturedItemNameBullet  {
	color: #EAEFF5; /* Text Light */
	background-color: #4B74D5; /* Secondary */
}

.FeaturedItemNameTable  {
	background-color: #9BB6D2; /* Table BG Dark */
	border-top-color: #768FB1; /* Border Light */
	border-right-color: #768FB1; /* Border Light */
	border-bottom-color: #768FB1; /* Border Light */
	border-left-color: #768FB1; /* Border Light */
}

.FeaturedItemNameCell  {
	color: #003399; /* Primary */
}

.BuyNow  {
	background-color: #2170BD; /* Link */
}

.BuyNowText  {
	color: #EAEFF5; /* Text Light */
}

.PromotionPointsCell  {
}

.PromotionPointsCell_paddingTop10px_paddingLeft15px_paddingRight15px {
}

.PromotionPointsCell_paddingTop20px_paddingBottom20px_paddingLeft15px_paddingRight15px {
}

.PromotionPointsCell_padding15px {
}

.PromotionSellingPoints  {
	color: #003399; /* Primary */
	background-color: #9BB6D2; /* Table BG Dark */
}

.PromotionSellingPoints_fontSize12px_lineHeight18px_padding15px {
	color: #003399; /* Primary */
	background-color: #9BB6D2; /* Table BG Dark */
}

.PromotionSellingPoints_fontSize12px_lineHeight18px_padding10px {
	color: #003399; /* Primary */
	background-color: #9BB6D2; /* Table BG Dark */
}

.FeaturedItemDetail  {
}

.FeaturedItemDetail_paddingTop10px {
}

.LeftCell  {
}

.GalleryLastCell  {
}

.GalleryLastCell_paddingTop10px_paddingBottom10px {
}

.GalleryLastCell_paddingTop20px {
}

.GalleryLink  {
	color: #2170BD; /* Link */
}

.PromotionCell  {
	color: #222847; /* Text Dark */
	border-left: 1px solid #768FB1 /* Border Light */
}

.PromotionCell_padding15px {
	color: #222847; /* Text Dark */
	border-left: 1px solid #768FB1 /* Border Light */
}

.LinkCell  {
	border-right: 1px solid #768FB1; /* Border Light */
}

.LinkLastCell  {
}

.LinkTable  {
	border-top-color: #768FB1; /* Border Light */
	border-right-color: #768FB1; /* Border Light */
	border-bottom-color: #768FB1; /* Border Light */
	border-left-color: #768FB1; /* Border Light */
	background-color: #E0E8F0; /* Table BG Light */
}

.LinkText  {
	color: #2170BD; /* Link */
}

.SpecTable  {
	border-top-color: #4B647F; /* Border Dark */
	border-right-color: #4B647F; /* Border Dark */
	border-bottom-color: #4B647F; /* Border Dark */
	border-left-color: #4B647F; /* Border Dark */
}

.SpecRow1LeftCell  {
	color: #222847; /* Text Dark */
	border-right-color: #768FB1; /* Border Light */
}

.SpecRow1RightCell  {
	color: #222847; /* Text Dark */
}

.SpecRow2RightCell  {
	color: #222847; /* Text Dark */
	border-top-color: #4B647F; /* Border Dark */
}

.SpecRow2LeftCell  {
	color: #222847; /* Text Dark */
	border-right-color: #768FB1; /* Border Light */
	border-top-color: #4B647F; /* Border Dark */
}

.SpecRow1  {
	background-color: #E0E8F0; /* Table BG Light */
}

.SpecRow2  {
	background-color: #9BB6D2; /* Table BG Dark */
}

.ShowcaseCell  {
}

.PromotionImage  {
	border-top-color: #768FB1; /* Border Light */
	border-right-color: #768FB1; /* Border Light */
	border-bottom-color: #768FB1; /* Border Light */
	border-left-color: #768FB1; /* Border Light */
}

.PromotionHeadline  {
	color: #2170BD; /* Link */
}

.PromotionHeadline_fontSize14px_noPadding {
	color: #2170BD; /* Link */
}

.PromotionText  {
	color: #222847; /* Text Dark */
}

.CallToAction  {
	color: #222847; /* Text Dark */
}

.CallToAction_paddingBottom20px {
	color: #222847; /* Text Dark */
}

.CallToAction_paddingBottom15px {
	color: #222847; /* Text Dark */
}

.CallToAction_paddingTop5px {
	color: #222847; /* Text Dark */
}

.LeftBodyCell  {
	border-right: 1px solid #768FB1 /* Border Light */
}

.LeftBodyCell_padding15px {
	border-right: 1px solid #768FB1 /* Border Light */
}

.RightBodyCell  {
}

.RightBodyCell_padding15px {
}

.FeatureItemNameTable  {
	border-top-color: #768FB1; /* Border Light */
	border-right-color: #768FB1; /* Border Light */
	border-bottom-color: #768FB1; /* Border Light */
	border-left-color: #768FB1; /* Border Light */
	background-color: #9BB6D2; /* Table BG Dark */
}

.FeatureItemNameCell  {
}

.FeatureItemNameText  {
	color: #003399; /* Primary */
}

.PromotionBodyCell  {
}

.PromotionTopCell  {
}

#leftContent {
	background-color: #9BB6D2; /* Table BG Dark */
}

#leftContent a, #leftContent a:visited {
}

#leftContent a:hover {
}

#rightContent {
	color: #222847; /* Text Dark */
}

.PageSubTitle {
}

.footerTable {
}

.SectionTitle {
	color: #222847; /* text dark */
	border-color: #768FB1; /* border light */
}

.BorderDotted {
	border-color: #768FB1; /* border light */
}

a.LinkTextDark {
	color: #222847; /* text dark */
}

a.LinkTextDark:hover {
}

.LightHR {
	color: #768FB1; /* border light */
	border-color: #768FB1; /* border light */
}

/* ---  Template Classes ------------------------------------------------------------------------------------------ */
body {
	background-color: #FFFFFF; /* Global White */
}

.LayoutTable {
	border-right: 1px solid #768FB1; /* Border Light */
}

.SpacerHorizontal {
	background-color: #7EBED5; /* Tertiary */
}

.LeftStripe {
	background-color: #7EBED5; /* Tertiary */
}

.SiteNameInnerTD {
  color: #7EBED5; /* Tertiary */
}

#template_SiteNameTD_Light {
	color: #222847; /* Text Dark */
}

#template_SiteNameTD_Dark {
	color: #DFE4E9; /* Neutral Light */
}

/* ------------ Template Classes - E ------------ */
.footerTable {
  color: #BABDC2; /* Neutral Dark */
}


/* --- Home Page Classes ------------------------------------------------------------------------------------------ */
.homeMainFeature {
  border-bottom: 3px double #7EBED5; /* Tertiary */
}

.homeRightTable {
  border: 3px double #7EBED5; /* Tertiary */
}

.homeLink {
  color: #222847; /* Text Dark */
}

.homeLink a, .homeLink a:link, .homeLink a:visited, .homeLink a:active {
  color: #222847; /* Text Dark */
}

.homeLinkContent a:hover {
}

.homeFeatureText
{
	color: #222847; /* Text Dark */
}

.homeFeatureHeadline
{
	color: #222847; /* Text Dark */
}

.homeMainText {
	color: #222847; /* Text Dark */
}

.homeSmallText {
	color: #222847; /* Text Dark */
}

/* ------------ Home Page B Classes ------------ */
.homeLeftHeader {
	color: #EAEFF5; /* Text Light */
	border-bottom-color: #BABDC2; /* Neutral Dark */
}

.homeFeatureHeader
{
  color: #EAEFF5; /* Text Light */
}

/* ------------ Home Page Classes - E ------------ */
.LayoutTable_Home {
	border-right-color: #BABDC2; /* Neutral Dark */
	border-bottom-color: #BABDC2; /* Neutral Dark */
}

.SpacerHorizontal_Home {
	background-color: #BABDC2; /* Neutral Dark */
}
