.SAW_TopNav_Dark a, .SAW_TopNav_Dark a:link, .SAW_TopNav_Dark a:visited, .SAW_TopNav_Dark a:active{
	color: #CCEDFF; /* Nav Light */
}

.SAW_TopNav_Dark a:hover{
	color: #FFFFFF; /* Global White */
}

.SAW_TopNav_Light a, .SAW_TopNav_Light a:link, .SAW_TopNav_Light a:visited, .SAW_TopNav_Light a:active {
	color: #222847; /* Text Dark */
}

.SAW_TopNav_Light a:hover {
  color: #003399; /* Primary */
}

/* --- Icon Side Navigation Declarations ---------------------------------------------------------------------------- */
.SAW_SideNav1_Icon, .SAW_SideNav1_Open_Icon, 
.SAW_SideNav1_Open_Child_Selected_Icon, .SAW_SideNav1_Open_Selected_Icon, .SAW_SideNav1_Selected_Icon {
  background-color: #FFFFFF; /* Global White */
  border-top-color: #BABDC2; /* Neutral Dark */
  border-bottom-color: #BABDC2; /* Neutral Dark */
}
.SAW_SideNav1_Icon, .SAW_SideNav1_Open_Icon {
  background-color: #9BB6D2; /* Table BG Dark */
}

#SAW_SideNavigation a {
  color: #003399; /* Primary */
}
#SAW_SideNavigation a:hover {
  color: #2170BD; /* Link */
}
#SAW_SideNavigation .SAW_SideNav2_Open_Selected_Icon a, 
#SAW_SideNavigation .SAW_SideNav2_Open_Selected_Icon a:active, 
#SAW_SideNavigation .SAW_SideNav2_Open_Selected_Icon a:link, 
#SAW_SideNavigation .SAW_SideNav2_Open_Selected_Icon a:visited {
  color: #4B74D5; /* Secondary */
}
#SAW_SideNavigation .SAW_SideNav2_Open_Selected_Icon a:hover {
  color: #2170BD; /* Link */
}
#SAW_SideNavigation .SAW_SideNav3_Icon a, 
#SAW_SideNavigation .SAW_SideNav3_Icon a:active, 
#SAW_SideNavigation .SAW_SideNav3_Icon a:link, 
#SAW_SideNavigation .SAW_SideNav3_Icon a:visited, 
#SAW_SideNavigation .SAW_SideNav3_Open_Icon a, 
#SAW_SideNavigation .SAW_SideNav3_Open_Icon a:active, 
#SAW_SideNavigation .SAW_SideNav3_Open_Icon a:link, 
#SAW_SideNavigation .SAW_SideNav3_Open_Icon a:visited {
  color: #003399; /* Primary */
}
#SAW_SideNavigation .SAW_SideNav3_Icon a:hover, 
#SAW_SideNavigation .SAW_SideNav3_Open_Icon a:hover {
  color: #2170BD; /* Link */
}
#SAW_SideNavigation .SAW_SideNav3_Open_Selected_Icon a, 
#SAW_SideNavigation .SAW_SideNav3_Open_Selected_Icon a:active, 
#SAW_SideNavigation .SAW_SideNav3_Open_Selected_Icon a:hover, 
#SAW_SideNavigation .SAW_SideNav3_Open_Selected_Icon a:link, 
#SAW_SideNavigation .SAW_SideNav3_Open_Selected_Icon a:visited, 
#SAW_SideNavigation .SAW_SideNav3_Selected_Icon a, 
#SAW_SideNavigation .SAW_SideNav3_Selected_Icon a:active, 
#SAW_SideNavigation .SAW_SideNav3_Selected_Icon a:hover, 
#SAW_SideNavigation .SAW_SideNav3_Selected_Icon a:link, 
#SAW_SideNavigation .SAW_SideNav3_Selected_Icon a:visited {
  color: #4B74D5; /* Secondary */
}
#SAW_SideNavigation .SAW_SideNav3_Open_Selected_Icon a:hover, 
#SAW_SideNavigation .SAW_SideNav3_Selected_Icon a:hover {
  color: #2170BD; /* Link */
}
