/* Top Navigation Classes */

#SAW_TopNavigation {
	font-size: 11px;
	font-weight: bold;	
	white-space: nowrap;
	padding-right: 15px;
	padding-left: 11px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.SAW_TopNav_Light, .SAW_TopNav_Dark {
    border-width: 0px;
}

#SAW_TopNavigation {
  margin:0;
  padding:0;
  list-style:none;
}

#SAW_TopNavigation li {
  float:left;
  margin: 0px;
  padding: 0px;
}

.SAW_TopNav_Light a, .SAW_TopNav_Light a:link, .SAW_TopNav_Light a:visited, .SAW_TopNav_Light a:active,
.SAW_TopNav_Dark a, .SAW_TopNav_Dark a:link, .SAW_TopNav_Dark a:visited, .SAW_TopNav_Dark a:active {
  display:block;
  text-decoration: none;
  padding-right: 11px;
  padding-left: 11px;
}

.SAW_TopNav_Light a:hover, .SAW_TopNav_Dark a:hover {
  background:none; 
  background-image: url(/images/icon_tn_arrow.gif);
  background-position: 1px 65%;
  background-repeat: no-repeat;
}

/* Side Navigation Declarations */
/* Display */
#SAW_SideNavigation {
  padding: 5px;
}

#SAW_SideNavigation ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
  /* the following two entries are for IE rendering */
  font-size: 0px;
  height: 1%;
}

#SAW_SideNavigation a {
  display: block;
  padding: 2px;
  text-decoration: none;
  font-weight: normal;
  outline: none;
  font-size: 11px;
  padding-left: 15px;
  background-image: url(/images/icon_sn_arrow.gif);
  background-position: 5px 50%;
  background-repeat: no-repeat;
}

#SAW_SideNavigation li {
  margin: 0px;
  padding: 0px;
  width: 100%;
}

#SAW_SideNavigation div.SAW_SideNavigation_Padding a {
  padding-left: 2px;
  background: none;
}

#SAW_SideNavigation li.SAW_SideNav1_Icon, #SAW_SideNavigation li.SAW_SideNav1_Selected_Icon, #SAW_SideNavigation li.SAW_SideNav1_Open_Icon, #SAW_SideNavigation li.SAW_SideNav1_Open_Selected_Icon, #SAW_SideNavigation li.SAW_SideNav1_Open_Child_Selected_Icon {
  margin-bottom: 3px;
}

.SAW_SideNavigation_Padding {
  padding-left: 15px;
}
.SAW_SideNavigation_Padding div.SAW_SideNavigation_Padding {
  padding-left: 10px;
}

/* Design */
.SAW_SideNav1_Icon, .SAW_SideNav1_Open_Icon, 
.SAW_SideNav1_Open_Child_Selected_Icon, .SAW_SideNav1_Open_Selected_Icon, .SAW_SideNav1_Selected_Icon {
  border-top-width: 1px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 1px;
  border-style: solid;
}

#SAW_SideNavigation .SAW_SideNav1_Open_Child_Selected_Icon a, #SAW_SideNavigation .SAW_SideNav1_Open_Selected_Icon a, #SAW_SideNavigation .SAW_SideNav1_Selected_Icon a, 
#SAW_SideNavigation .SAW_SideNav2_Open_Selected_Icon a, #SAW_SideNavigation .SAW_SideNav2_Selected_Icon a {
  text-decoration: none;
  font-weight: bold;
}
#SAW_SideNavigation .SAW_SideNav2_Open_Icon a, #SAW_SideNavigation .SAW_SideNav2_Open_Child_Selected_Icon a {
  text-decoration: none;
  font-weight: normal;
} 
#SAW_SideNavigation .SAW_SideNav3_Open_Selected_Icon a, #SAW_SideNavigation .SAW_SideNav3_Selected_Icon a {
  text-decoration: none;
  font-weight: bold;
}
#SAW_SideNavigation .SAW_SideNav3_Open_Icon a {
  text-decoration: none;
  font-weight: normal;
}
