th, td { 
  font-size: 9pt;
}

a:link {
  color: #4870aa;
  text-decoration: none;
}
		
a:visited {
  color: #4870aa;
  text-decoration: none;
}
		
a:hover	{
  color: #4870aa;
  text-decoration: underline;
}
		
a:active {
  color: #FFB340;
  text-decoration: line-through;
}

a:link.white {
  color: #ffffff;
  text-decoration: none;
}
		
a:visited.white {
  color: #ffffff;
  text-decoration: none;
}
		
a:hover.white	{
  color: #ffffff;
  text-decoration: underline;
}
		
a:active.white {
  color: #ffffff;
  text-decoration: line-through;
}

a:link.red {
  color: #ff0000;
  text-decoration: none;
}
		
a:visited.red {
  color: #ff0000;
  text-decoration: none;
}
		
a:hover.red	{
  color: #ff0000;
  text-decoration: underline;
}
		
a:active.red {
  color: #ff0000;
  text-decoration: line-through;
}

table.data { 
  border: 1px solid #dddddd;
  width: 90%;
}

thead tr th { 
  background: #4870aa;
  color: #efefef;
  padding: 4px 8px 4px 8px;
  text-align:left;
  font-weight:bold;
  font-size:18;
}

table.data-fields tr th { 
  width: 40%;
}

tbody tr { 
  border: 1px solid #c2b9a5;
}
                
tbody th { 
  padding: 2px;
  border: 1px solid #c2b9a5;
  text-align:right;
  background: #efefef;
  color: #000066;
  font-size: 8pt;
}

tr.search_columns { 
  text-align: center;
  background: #4870aa;
  font-size: 11px;
  font-weight:bold;
  color:white;
}

.buttons { 
  text-align: center;
  border: 1px solid black;
  background: #4870aa;
  font-weight:bold;
}

.even { 
  background: #ffffff;
}

.odd { 
  background: #ffffdd;
}

tr.odd:hover { 
  background: #ffffff;
}

.error { 
  text-decoration: blink;
  color: #ff0000;
}

ul.list { 
  margin: 0px;
  padding: 0px;
}

.list li { 
  margin: 0px;
  padding: 0px;
  margin-left: 20px;
  color: #4870aa;
}

.red { 
  color: #990000;
}

#order-history-list { 
  width: 100%;
  border: 1px solid #9A9B9B;
  margin: 0px;
  margin-bottom: 30px;
}

#order-history-list th { 
  font-weight: normal;
}

.order-history-date { 
  width: 75%;
}

.order-history-item { 
  width: 100%;
  border-top: 1px solid #9A9B9B;
}

.order-history-item-photo { 
  padding: 10px 65px;
}

.order-history-item-desc { 
  padding-top: 15px;
  vertical-align: top;
}

.order-history-item-total { 
  padding-top: 15px;
  vertical-align: top;
}