*, body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
/* start global styles */
h1 {
	font-size: 14px;
	font-weight: bold;
	margin: 0px 0px 4px 0px;
	padding: 0px;
	}
h2 {
	font-size: 12px;
	font-weight: bold;
	margin: 10px 0px 0px 0px;
	padding: 0px;
	}	
h3 {
	font-size: 11px;
	font-weight: bold;
	margin: 20px 0px 6px 0px;
	padding: 0px;
	}	
h3.first {
	margin: 0px;
}	

h3.backToTop{
	display: block;
	margin: 26px 25px;
}


p {
	font-size: 11px;
	margin: 0px;
	}
p.intro {
	margin-bottom: 20px;
}

.bold{
	font-weight: bold;
}
	
.textFloat {
	padding-left: 10px;
	margin-left: 204px;
}

.textFloat h2{
	margin-top: 0px;
}
	
ul {
	list-style-type: square; 
	font-size: 11px;
	margin: 10px 0px;
	padding-left: 14px;
}
ul.bold {
	font-weight: bold;
}
ul.noBullet {
	list-style-type: none; 
	font-weight: bold;
	padding-left: 0px;
}


ul.bold li {
	margin-top: 4px; 
}
ul.noBullet li{
	margin-top: 4px; 
}

a.callToAction {
	font-weight: bold;
}

/*  start box styles */

table.threeColumn{
	table-layout: fixed;
	width: 100%;
}



table.threeColumn td{
	width: 33%;
	padding-top: 25px;
	vertical-align: top;
}

table.twoColumn{
	table-layout: fixed;
	width: 100%;
}
table.twoColumn td{
	width: 50%;
	padding-bottom: 25px;
	vertical-align: top;
}
	
div.buyButton{
	margin-top: 10px;
	font-size: 11px;
}
div.bannerNav {
	font-size: 11px;
	font-weight: bold;
	height: 25px;
}
div.bannerNav div{
	padding: 6px 10px 0px 10px;
}
div.bannerNav .pagination{
	padding: 0px 27px 0px 27px;
}
div.bannerNav .left{
	float: left;
}
div.bannerNav .middle{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
div.bannerNav .right{
	float: right;
	width: 100px;
	text-align: right;
}

div.bannerNav .rightPaginated{
	float: right;
	width: 378px;
	text-align: right;
}
div.calendarNav {

}
div.dayPlannerEntry{
	padding: 6px 10px 0px 10px;
}
div.dayPlannerEntry h3{
	margin: 6px 0px 0px 0px;
}
div.dayPlannerEntry p{
	margin: 0px 0px 16px 0px;
}
	


div.boxColumnLeft{
	width: 50%;
	float: left;
}

div.boxColumnRight{
	width: 50%;
	float: left;
}
	
div.boxTop {
	padding: 6px;
	font-size: 11px;
	font-weight: bold
}


div.linkBox {

}
div.linkBox ul{
	padding: 0px 0px 10px 22px;
}

div.contentHeaderContainer {
  overflow: hidden;
  height: 1%;
}
div.contentBodyContainer {

}
div.hr {
	height: 1px;
	margin: 10px 0px 14px 0px;
	line-height: 1px;
}

div.hrLeft {
  margin-right: 10px;
}

div.imgBox {
	margin-top: 10px;
	margin-bottom: 20px;
	font-size: 0px;
}

div.imgBox img {
  padding: 1px;
}

div.imgBoxLeft {
	
	margin: 0px 0px 10px 0px;
	float: left;
	font-size: 0px; 
}
div.imgBoxLeft img {
  padding: 1px;
  }
div.imgBoxLeft p {
	text-align: center;
	margin-top: 2px;
	font-size: 0px; 
}

div.imgBoxColumn {
  text-align: center;
  float: left;
  width: 33%;
}

div.imgBoxTwoColumn {
	width: 49%;
	float: left;
	text-align: left;
}

div.imgBoxTwoColumn h2 {
  margin-top: 5px;
}
  
div.imgBoxTwoColumn img {
	padding: 1px;
}

div.imgBoxColumn img {
	padding: 1px;
}

div.imgBoxColumn p {
	text-align: center;
	margin-top: 2px;
}


div.imgBoxLrgRight {
	float: left;
	margin-left: 20px;
	font-size: 0px; 
}
div.imgBoxLrgRight img {
  padding: 1px;
}
div.imgBoxSmlRightTop {
	float: left;
	margin-left: 5px;
	font-size: 0px; 
}
div.imgBoxSmlRightTop img {
  padding: 1px;
}
div.imgBoxSmlRightBot {
	float: left;
	margin-top: 6px;
	margin-left: 5px;
	font-size: 0px; 
}
div.imgBoxSmlRightBot img {
  padding: 1px;
}


p.price {
	font-size: 12px;
	font-weight: bold;
	margin-top: 10px;
}

table.calendar {
	width: 99%;
	border-collapse: collapse;
}
table.calendar th{
	font-size: 11px;
	font-weight: normal;
	border-top: none;
	padding: 2px;
	width: 14%;
}
table.calendar tr.day td{
	font-size: 10px;
	text-align: right;
	padding-right: 5px;
}
table.calendar tr.box td{
	font-size: 10px;
	height: 71px;
}
table.labelBox{
	margin: 10px 0px;
	border-collapse: collapse;
}

table.labelBox td, table.labelBox th{
	padding: 9px 25px;
	text-align: center;
	font-size: 11px; 
	font-weight: normal;
}
table.labelBox tr td{

}

td.homeFeatureText{
	padding: 0px 6px 0px 6px;
}
td.homeFeatureText h2{
	margin-top: 0px;
	padding-top: 0px;
}


.homeBodyContainer p{

}

.homeBodyContainer{
	position: absolute;
}

.headerBackgroundImage{
	position: absolute; 
	z-index: 1; 
}

.homeHeaderText{
	position: absolute; 
	z-index: 2; 
}

.homeHeaderText p{
	line-height: 22px;
}

.homeBodyContainer a{
	font-weight: bold;
	text-decoration: underline;
}

.homeFeatureContainer{
	position: absolute; 
	padding-top: 25px;
}

.homeFeatureTable{
	margin-left: 15px; 
	width: 570px;
}


/*  Version 1 styles */
.BodyCell {
	padding-right: 15px;
	padding-left: 15px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.BodyCell_paddingRightLeft {
	padding-right: 15px;
	padding-left: 15px;
}

.BodyCell_noPadding {

}

.BuyNow {
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.BuyNowText {
	font-size: 9px;
	font-weight: bold;
	text-decoration: none;
}

.CalendarLayout {
	border-top-width: 1px;
	border-right-width: 2px;
	border-bottom-width: 2px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
}

.CallToAction_paddingBottom20px {
	font-size: 12px;
	line-height: 18px;
	font-weight: bold;	
	padding-bottom: 20px;
	text-align: left;
}

.CallToAction_paddingBottom15px {
	font-size: 12px;
	line-height: 18px;
	font-weight: bold;	
	padding-bottom: 15px;
	text-align: left;
}

.CallToAction_paddingTop5px {
	font-size: 12px;
	line-height: 18px;
	font-weight: bold;	
	text-align: left;
	padding-top: 5px;
}

.FeatureItemNameCell {
	padding-top: 15px;
}

.FeatureItemNameTable {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
}

.FeatureItemNameText {
	font-size: 14px;
	line-height: 21px;
	font-weight: bold;	
	white-space: nowrap;
	text-align: left;
	padding-left: 5px;
}

.FeaturedItemBody {
	font-size: 11px;
	line-height: 16px;
	padding-top:10px;
}

.FeaturedItemBody_paddingTop15px {
	font-size: 11px;
	line-height: 16px;
	padding-top:15px;
}

.FeaturedItemBodyCell {
	padding-left: 10px;
}

.FeaturedItemBodyText {
	font-size: 11px;
	line-height: 16px;
	padding-top: 5px;
}

.FeaturedItemBodyTextBold {
	font-size: 11px;
	line-height: 16px;
	font-weight: bold;
	padding-top: 5px;
}

.FeaturedItemDetail {
	padding-top: 10px;
	padding-bottom: 10px;	
}

.FeaturedItemDetail_paddingTop10px {
	padding-top: 10px;
}

.FeaturedItemDetailBullet {
	width: 18px;
	height: 18px;
	background-image: url('/images/arrow.gif');
}

.FeaturedItemDetailCell {
	font-size: 12px;
	line-height: 18px;	
	font-weight: bold;
	padding-left: 5px;
	white-space: nowrap;	
}

.FeaturedItemDetailCell_noLineHeight {
	font-size: 12px;
	font-weight: bold;
	padding-left: 5px;
	white-space: nowrap;	
}

.FeaturedItemDetailCell_fontSize11px_lineHeight16px {
	font-size: 11px;
	line-height: 16px;	
	font-weight: bold;
	padding-left: 5px;
	white-space: nowrap;	
}

.FeaturedItemDetailTable {
	padding: 5px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
}

.FeaturedItemImage {
	border-top-width: 1px;
	border-right-width: 2px;
	border-bottom-width: 2px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
}

.FeaturedItemNameBullet {
	width: 18px;
	height: 18px;
	background-image: url('images/arrow.gif');
}

.FeaturedItemNameCell {
	font-size: 14px;
	font-weight: bold;
	padding-left: 5px;
	white-space: nowrap;	
}

.FeaturedItemNameTable {
	padding: 5px;
	border-top-width: 1px;
	border-right-width: 2px;
	border-bottom-width: 2px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
}

.FeedbackCell {
	font-size: 11px;
	line-height: 16px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}

.GalleryCell_paddingBottom15px {
	padding-bottom: 15px;
}

.GalleryCell_paddingLeft10px_paddingBottom10px {
	padding-left: 10px;
	padding-bottom: 10px;	
}

.GalleryCell_paddingRight10px_paddingTop10px {
	padding-right: 10px;
	padding-top: 10px;	
}

.GalleryCell_paddingRight10px_paddingTop10px_paddingBottom10px {
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;	
}

.GalleryCell_paddingRight10px_paddingTop20px {
	padding-right: 10px;
	padding-top: 20px;	
}

.GalleryImage {
	border-top-width: 1px;
	border-right-width: 2px;
	border-bottom-width: 2px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
}

.GalleryLastCell {
	padding-top: 10px;
}

.GalleryLastCell_paddingTop10px_paddingBottom10px {
	padding-top: 10px;
	padding-bottom: 10px;	
}

.GalleryLastCell_paddingTop20px {
	padding-top: 20px;
}

.GalleryLink {
	font-size: 9px;
	line-height: 14px;
	padding: 5px;
	font-weight: bold;
}

.Layout {
    font-size: 11px;
	border-top-width: 1px;
	border-right-width: 2px;
	border-bottom-width: 2px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
}

.LeftBodyCell {
	padding-right: 15px;
	padding-top: 15px;
}

.LeftBodyCell_padding15px {
	padding: 15px;
}

.LeftCell {
    padding-right: 5px;
}

.LinkCell {	
	text-align: center;
	padding: 5px;
}

.LinkLastCell {
	text-align: center;
	padding: 5px;	
}

.LinkTable {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
}

.LinkText {
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
}

.PageSubTitle {
    font-size: 11px;
    letter-spacing: 2px;
}

.PageTitle {
	font-size: 18px;
	line-height: 27px;
	font-weight: bold;
	white-space: nowrap;
	padding-right: 15px;
	padding-left: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.PromotionBodyCell {
	padding: 10px;
}

.PromotionCell {
	font-size: 10px;
	padding-left: 15px;
    padding-right: 10px;
	padding-top: 20px;
}

.PromotionCell_padding15px {
  padding: 15px;
}

.PromotionHeadline {
	font-size: 24px;
	line-height: 36px;
	font-weight: bold;
	white-space: nowrap;
	padding-top: 15px;
	text-align: left;
}

.PromotionHeadline_fontSize14px_noPadding {
	font-size: 14px;
	line-height: 21px;
	font-weight: bold;
	white-space: nowrap;
	text-align: left;
}

.PromotionImage {
	border-top-width: 1px;
	border-right-width: 2px;
	border-bottom-width: 2px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
}

.PromotionPointsCell {
	padding-top: 15px;
	padding-left: 15px;
	padding-right: 15px;
}

.PromotionPointsCell_paddingTop10px_paddingLeft15px_paddingRight15px {
	padding-top: 10px;
	padding-left: 15px;
	padding-right: 15px;
}

.PromotionPointsCell_paddingTop20px_paddingBottom20px_paddingLeft15px_paddingRight15px {
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 15px;
	padding-right: 15px;
}

.PromotionPointsCell_padding15px {
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 15px;
	padding-right: 15px;
}

.PromotionSellingPoints {
	font-size: 11px;
	line-height: 16px;
	padding: 5px;
	text-align: left;
	white-space: nowrap;
}

.PromotionSellingPoints_fontSize12px_lineHeight18px_padding15px {
	font-size: 12px;
	line-height: 18px;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 15px;
	padding-right: 15px;
	text-align: left;
}

.PromotionSellingPoints_fontSize12px_lineHeight18px_padding10px {
	font-size: 12px;
	line-height: 18px;
	padding: 10px;
	text-align: left;
}

.PromotionText {
	font-size: 11px;
	line-height: 16px;
	text-align: left;
}

.PromotionTopCell {
	padding: 15px;
}

.RightBodyCell {
	padding-left: 15px;
	padding-top: 15px;
}

.RightBodyCell_padding15px {
	padding: 15px;
}

.ShowcaseCell {
	padding-top: 15px;
	padding-bottom: 15px;	
}

.SpecRow1 {

}

.SpecRow1LeftCell {
	font-size: 11px;
	padding: 5px;
	border-right-width: 1px;
	border-right-style: solid;
}

.SpecRow1RightCell {
	font-size: 11px;
	font-weight: bold;
	padding: 5px;
}

.SpecRow2 {

}

.SpecRow2LeftCell {
	font-size: 11px;
	padding: 5px;
	border-right-width: 1px;
	border-right-style: solid;
	border-top-width: 1px;
	border-top-style: solid;
}

.SpecRow2RightCell {
	font-size: 11px;
	font-weight: bold;
	padding: 5px;
	border-top-width: 1px;
	border-top-style: solid;
}

.SpecTable {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
}

.TopBody {
	font-size: 11px;
	line-height: 16px;
	padding-bottom: 15px;	
}

.TopCell {
	font-size: 11px;
	line-height: 16px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	padding-bottom: 10px;
}

.YearCell {
	font-size: 18px;
	line-height: 24px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}

.calendarText {
	font-size: 9px; 
	line-height: 14px;
	font-weight: bold;
}

.calendarTextLast {
	font-size: 9px; 
	line-height: 14px;
	font-weight: bold;
}

.date {
	font-size: 9px; 
	line-height: 14px;
	font-weight: bold;
}

.dateLast {
	font-size: 9px; 
	line-height: 14px;
	font-weight: bold;
}

.dayOfWeek {
	font-size: 9px; 
	line-height: 14px;
	font-weight: bold;
}

.dayOfWeekLast {
	font-size: 9px; 
	line-height: 14px;
	font-weight: bold;
}

.footerTable {
    font-size: 11px;
}

.headerTable  {
	
}

.leftContentTable {
	
}

.leftContentTable a, .leftContentTable a:visited {
	
}

.leftContentTable a:hover {
	
}

.monthYear {
	font-size: 12px; 
	line-height: 18px;
	font-weight: bold;
}

a:link {

}

a:visited {

}

.BulletTD {
	width: 18px;
}

/* Site Name & Description Classes */


.SiteName {
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;
}

.SiteNameInnerTD {
	font-size: 11px;
  padding-left: 15px;
}

.SiteDescription {
	font-size: 11px;
}


/* ------------ New Page Type Additions ------------ */

.SectionTitle {
	font-size: 16px;
	font-weight: bold;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	padding-bottom: 2px;
}

.BorderDotted {
	border-width: 1px;
	border-style: dotted;
	padding: 2px;
}

.BulletUL {
	line-height: 1.8em;
	list-style-image: url(../bullet.gif);
}

.BulletDiv {
	background-image: url(../bullet.gif);
	padding-left: 15px;
	background-repeat: no-repeat;
	background-position: left center;
	margin-bottom: 5px;
	margin-left: 25px;
}

.BulletUL2 {
	list-style-image: url(../bullet.gif);
	line-height: 1.8em;
}

.BulletDiv2 {
	background-image: url(../bullet.gif);
	padding-left: 15px;
	background-repeat: no-repeat;
	background-position: left center;
	margin-bottom: 5px;
	margin-left: 25px;
}

a.LinkTextDark {
	text-decoration: none;
}

a.LinkTextDark:hover {
	text-decoration: underline;
}

.LightHR {
	height: 1px;
}

a:link.red {
  color: #ff0000;
  text-decoration: none;
}
		
a:visited.red {
  color: #ff0000;
  text-decoration: none;
}
		
a:hover.red	{
  color: #ff0000;
  text-decoration: underline;
}
		
a:active.red {
  color: #ff0000;
  text-decoration: line-through;
}

