/**************** General Classes *****************/
body {
	margin: 0px;
	background-color: #F1F0EE; /* Global Gray Light */
	font-size: 11px; /* Font Size */
	line-height: 14px;
	color: #666666; /* Global Gray */
	background-image: url('/images/body_background.jpg');
	background-repeat: repeat-x	
}

#homePage {

}

#subPage {

}

#globalContainer {
	width: 765px;
	margin: 30px auto;
	background-color: #FFFFFF; /* Global White */
	background-image: url('/images/border_middle.jpg');
	background-repeat: repeat-y
}

h1 {
	font-size: 14px;
	font-weight: bold;
	color: #4870AA; /* Accent 1 */
}

h2 {
	font-size: 12px;
	font-weight: bold;
	color: #6699CC; /* Text Medium */
	margin: 0px 0px 5px 0px;			
}

h3 {
	font-size: 12px;
	color: #2170BD; /* Link */
	font-weight: bold;	
	margin: 0px 0px 5px 0px;			
}

a {
 color: #2170bd; /* Link */
 text-decoration: underline;
}

p {
	margin: 0px 0px 20px 0px;
}

p.noSpace {
	margin: 0px;
}

#homePage h1, #homePage h2, #homePage h3 {
  clear: none;
}

#footer {
  text-align: center;
	padding: 5px 13px 5px 13px;
	color: #666666; /* Global Gray */
}
#footer a {
  text-decoration: none;
}

#borderTop {
	background-image: url('/images/border_top.jpg');
	height: 48px
}

#borderBottom {
	background-image: url('/images/border_bottom.jpg');
	height: 9px
}

/**************** Header Classes *****************/
#logo {
	padding: 8px 0px 0px 8px;
}

#homePage #header {
	background-image: url('/images/sub_header_background2.jpg');
	background-repeat:no-repeat;
	height: 107px
}


#subPage #header {
	background-image: url('/images/sub_header_background.jpg');
	background-repeat:no-repeat;
	height: 46px	
}

#homePage #header h1 {
	color: #FFFFFF; /* Accent 7 */
	font-style:italic;
	font-weight: bold;
	font-size: 22px;
	line-height: 30px;
	padding: 90px 30px 0px 30px;
	margin: 0px;
}

#homePage #header p {
	padding: 8px 425px 0px 30px;
	color: #F1F0EE; /* Global Gray Light */
}

#subPage #header h1{
	color: #FFFFBF; /* Accent 7 */
	font-weight: bold;
	font-size: 18px;	
	padding: 30px 0px 0px 236px;
	text-transform:lowercase;
	line-height: 18px;
	margin: 0px;
}

/**************** Top Nav Classes *****************/
#topNav {
	background-image: url('/images/topnav_background.jpg');
	padding-left:28px; padding-right:28px; padding-top:10px; padding-bottom:10px
}

#innerContainer {
	background-repeat:repeat-y;
	margin: 15px 8px 15px 8px;
}
#homePage #innerContainer {
	background-image: url('/images/side_background.jpg');
}
#subPage #innerContainer {
	background-image: url('/images/sub_side_background.jpg');
}

#innerContainer #innerLeft {
	float: left;
}
#homePage #innerContainer #innerLeft {
	width: 190px;
}
#subPage #innerContainer #innerLeft {
	width: 160px;
}

#homePage #innerContainer #innerRight {
	margin-left: 190px;
}
#subPage #innerContainer #innerRight {
	margin-left: 170px;
}

/**************** Resources Classes *****************/
#resources {
	padding: 20px 5px 10px 10px;
}

#resources form {
	margin: 0px;
	padding: 0px;
}

#resources p {
	margin: 0px 0px 10px 0px;	 
}

#sideNav {
	padding: 0px 0px 10px 5px;
}

#homePage #sideNav a {
  text-decoration: none;		
}

#homePage #sideNav a {
	display: block;
}

#homePage #featured {
	padding: 0px 50px 10px 15px;
}

#homePage #featured .featuredLeft {
	width: 265px;
	float: left;
	padding-right: 15px;
}

#homePage #featured .featuredRight {
	margin-left: 280px;
	padding-left: 15px;
}

#homePage #featured a {
	font-weight: bold;
}

#homePage #featured h1 {
	margin-top: 0px;
}

#homePage #featured ul {
	padding: 0px 15px 0px 15px;
	margin: 0px;
}

#homePage #featured h3 {
	margin: 0px;
	font-size: 11px;
	text-decoration:underline;
}

#homePage #featured li {
	padding-bottom: 10px;
}