/**************** General Classes *****************/
body {
	margin: 0px;
	font-size: 11px; /* Font Size */
	line-height: 14px;
	color: #666666; /* Global Gray */
	background-repeat: repeat-x;
	  touch-action: manipulation;
}

.qty-increase {
	padding: 8px;
	background-color: lightgray;
}

.qty-decrease {
	padding: 8px;
	background-color: lightgray;
}
.quantity {
	width: 60px !important;
}

.button {
    background-color: rgba(34, 53, 202, 0.871);
    padding: 6px;
	font-size: 14px;
	color: white !important;
    border-radius: 4px;
	cursor: pointer;
}

.button-right {
    background-color: rgba(34, 53, 202, 0.871);
    padding: 6px;
	font-size: 14px;
	color: white !important;
    border-radius: 4px;
	cursor: pointer;
	border-bottom-left-radius: 0px;
	border-top-left-radius: 0px;
}



.search {
	margin-left: 18px;
	height: 20px;
}

.input {
	border-radius: 0;
	border-bottom-right-radius: 0px;
	border-top-right-radius: 0px;
	height: 30px;
}

.pagination {
    padding: 6px;
    background-color: rgba(34, 53, 202, 0.871);
    color: white !important;
    border-radius: 25px;
	margin-top: 14px;
	margin-bottom: 14px;
	display: inline-block !important;
}

.itemname {
	color: black;

}

.stocklevel {
	color: black;
	font-weight: bold;
	font-size: 13px;
	margin: 10px 0;
}

.value {
	font-size: 14px;
}

.categories-wrapper {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.category-single {
	flex-direction: column;
	align-items: center;
	margin: 42px 40px;
	align-self: center;
	justify-content: center;
	text-align: center;
	width: 180px;

}

.category-single img {
	width: 180px;
	height: 180px;
	margin-bottom: 14px;
	object-fit: contain;	
}


.product-list-wrapper {
	display: flex;
	flex-wrap: wrap;
	align-items: center;

}

.product-list-single {
	flex-direction: column;
	margin: 34px 84px;
	max-width: 160px;
	
}

.product-list-single img {
	width: 200px;
	height: 200px;
	object-fit: contain;	
}



#homePage {

}

#subPage {

}

#globalContainer {
	background-color: #FFFFFF; /* Global White */
	background-repeat: repeat-y
}

h1 {
	font-size: 14px;
	font-weight: bold;
	color: #4870AA; /* Accent 1 */
}

h2 {
	font-size: 12px;
	font-weight: bold;
	color: #6699CC; /* Text Medium */
	margin: 0px 0px 5px 0px;			
}

h3 {
	font-size: 12px;
	color: #2170BD; /* Link */
	font-weight: bold;	
	margin: 0px 0px 5px 0px;			
}

a {
 color: #2170bd; /* Link */
 text-decoration: underline;
}

p {
	margin: 0px 0px 20px 0px;
}

p.noSpace {
	margin: 0px;
}

#homePage h1, #homePage h2, #homePage h3 {
  clear: none;
}

#footer {
  text-align: center;
	padding: 5px 13px 5px 13px;
	color: #666666; /* Global Gray */
}
#footer a {
  text-decoration: none;
}

#borderTop {
	height: 48px
}

#borderBottom {
	height: 9px
}

/**************** Header Classes *****************/

#logo img {
	height: 80px;
}

#homePage #header {
	background-repeat:no-repeat;
	height: 107px
}


#subPage #header {
	background-repeat:no-repeat;
}

#homePage #header h1 {
	color: #FFFFFF; /* Accent 7 */
	font-style:italic;
	font-weight: bold;
	font-size: 22px;
	line-height: 30px;
	padding: 90px 30px 0px 30px;
	margin: 0px;
}

#homePage #header p {
	padding: 8px 425px 0px 30px;
	color: #F1F0EE; /* Global Gray Light */
}

#subPage #header h1{
	color: #FFFFBF; /* Accent 7 */
	font-weight: bold;
	font-size: 18px;	
	padding: 30px 0px 0px 236px;
	text-transform:lowercase;
	line-height: 18px;
	margin: 0px;
}

/**************** Top Nav Classes *****************/
#topNav {
	padding-left:28px; padding-right:28px; padding-top:10px; padding-bottom:10px
}

#innerContainer {
	background-repeat:repeat-y;
	margin: 15px 8px 15px 8px;
}

#innerContainer #innerLeft {
	float: left;
}
#homePage #innerContainer #innerLeft {
	width: 190px;
}
#subPage #innerContainer #innerLeft {
	width: 160px;
}

#homePage #innerContainer #innerRight {
	margin-left: 190px;
}
#subPage #innerContainer #innerRight {
	margin-left: 170px;
}

/**************** Resources Classes *****************/
#resources {
	padding: 20px 5px 10px 10px;
}

#resources form {
	margin: 0px;
	padding: 0px;
}

#resources p {
	margin: 0px 0px 10px 0px;	 
}

#sideNav {
	padding: 0px 0px 10px 5px;
}

#homePage #sideNav a {
  text-decoration: none;		
}

#homePage #sideNav a {
	display: block;
}

#homePage #featured {
	padding: 0px 50px 10px 15px;
}

#homePage #featured .featuredLeft {
	width: 265px;
	float: left;
	padding-right: 15px;
}

#homePage #featured .featuredRight {
	margin-left: 280px;
	padding-left: 15px;
}

#homePage #featured a {
	font-weight: bold;
}

#homePage #featured h1 {
	margin-top: 0px;
}

#homePage #featured ul {
	padding: 0px 15px 0px 15px;
	margin: 0px;
}

#homePage #featured h3 {
	margin: 0px;
	font-size: 11px;
	text-decoration:underline;
}

#homePage #featured li {
	padding-bottom: 10px;
}
