<tmpl_include name=../header.html>

  <form name="form" method="post" action="<tmpl_var name=URL_ADMIN_PRICE_LIST>" enctype="multipart/form-data">
    <input type="hidden" name="mode" value="results" />

  <div id="innerRight">
    <div id="featured">
      <h1><br>
	Aztecimport.com<br>
	Price List</h1>
      <div class="featuredLeft" style="width: 265; height: 110">
	
	<p><br>

    <tmpl_if name=error_msg>

	  <p class="error"><tmpl_var name=error_msg></p>
	    <input type="button" name="back" value="Back" onClick="history.go(-1);"></input>
	    <tmpl_else>
	      Your price list was successfully updated and processed!
    </tmpl_if>

      </div>
      <div class="featuredRight">
      </div>

  </form>

<tmpl_include name=../footer.html>
