[% INCLUDE partials/shop_header.tt %]

    [% IF categories %]

		<div class="categories-wrapper">
	<form name="form" method="get" action="/wholesale/products">
    <input type="hidden" name="mode" value="results">
	<input type="hidden" name="keywords" value="!" id="textUsername2" />   
	<button type="submit" style="background-color: transparent; border-width: 0px; cursor: pointer;">
			<div class="categories-single">
		<img src="/images/categories/Specials.jpg" style="height: 80" />

		<h3>
			<b style="color: #2170BD;">Specials</b>
		</h3>
			</div>			
	</button>
    </form>

      [% FOREACH key IN categories.keys.nsort %]
        [% IF categories.$key.name %]
	    		<div class="category-single">
				[% IF categories.$key.search %]
					<a href="/wholesale/products?mode=results&category=[% categories.$key.search | uri %]">
				[% ELSE %]
					<a href="/wholesale/products?mode=results&category=[% categories.$key.name | uri %]">
				[% END %]
						<img loading="lazy" src="/images/categories/[% categories.$key.name %].png" height="80" />		
							<h3>[% categories.$key.name %]</h3>
			</a>	
	    		</div>	
        [% END %]

      [% END %]

		</div>
    [% END %]
      </div>

	  </div>


	<div id="innerRight">
	  <div id="featured">
	    <div class="featuredLeft" style="width: 265; height: 110">
	      
	    </div>
	    <div class="featuredRight">


	    </div>
	    <div style="clear: left;"></div>

      <div class="siteFooterLinks"><br />
	</div><div style="clear: left;"></div>
      </div>	
[% INCLUDE partials/shop_footer.tt %]