[% INCLUDE partials/shop_header.tt %]
  
  <div id="innerRight">
    <div id="featured">
      <div class="featuredLeft" style="width: 265; height: 110">
	
      </div>
      <div class="featuredRight">
      </div>
      <div style="clear: left;"></div>
    </div>
  </div><div style="clear: left;"></div>
      </div>	
  <div id="footer">
    <div class="siteFooterLinks" height: 101"> <b>

	
      <h2>Order History</h2>
      <hr />

      <div id="page-container">
	<!-- The Criteria -->
	<form id="order_form" name="order_form" method="get" action="/wholesale/orderhistory">
	<div id="order-history-criteria">
	  <strong>Show: </strong>
	  <select id="year" name="year" onChange="document.getElementById('order_form').submit();">

	  [% FOREACH year IN results.years %]
	    <option value="[% year.value %]" [% IF year.selected %]selected [% END %]> [% year.label %]</option>
	  [% END %]
	  </select>
	</div>
	</form>
	<br />
	<!-- End The Criteria -->

	<!-- The Order History -->
	<div id="order-history">

	[% IF results.orders.0  %]
		[% FOREACH order IN results.orders %]
	      <table id="order-history-list">
		<thead class="order-history-header">
		  <tr>
		    <th class="order-history-date">[% order.order_date %]</th>
		    <th class="order-history-total">Total: [% order.order_total %]</th>
		  </tr>
		</thead>
		<tbody>
		[% IF order.items %]
			[% FOREACH item IN order.items %]
		      <tr>
			<td class="order-history-item" colspan="2">
			  <table width="100%">
			    <tr>
			      <td width="75%">
				<table>
				  <tr>
				    <td class="order-history-item-photo">
					[% IF item.photo %]
					<img src="[% item.photo %]" width="90" height="90" />
					[% END %]
				    </td>
				    <td class="order-history-item-desc">
				      <span><a href="/wholesale/products?mode=view&item_name=[% item.item_name %]">[% item.description %]</a></span><br />
				      <span><strong>Item Name:</strong> [% item.item_name %]</span><br />
				      <span><strong>Quantity:</strong> [% item.quantity %]</span>
				    </td>
				  </tr>
				</table>
			      </td>
			      <td class="order-history-item-total">
				<table>
				  <tr>
				    <td
				      <span><strong>Item Total:</strong> [% item.total %]</span><hr />
				      <span><strong>Product Price:</strong> [% item.price %]</span><br /><br />
				      <span><a href="/wholesale/products?mode=view&item_name=[% item.item_name %]">Buy it Again</a></span>
				    </td>
				  </tr>
				</table>
			      </td>
			    </tr>
			  </table>
			</td>
		      </tr>
			  [% END %]
			[% ELSE %]
		      <tr><td colspan="2"><p>There are no items associated with this order.</p></td></tr>
		  [% END %]
		</tbody>
	      </table>
		  [% END %]
	[% ELSE %]
	      <p>We couldn't find any matching orders. Try changing your filters.</p>
	[% END %]
	</div>
	<!-- End The Order History -->
      </div>
      <br>

[% INCLUDE partials/shop_footer.tt %]
