[% INCLUDE partials/admin_header.tt %]

    <form name="form" method="post" action="/admin/login" onSubmit="return verify_login();">
      <input type="hidden" name="mode" value="login" />
      
	  
	  <h2>&nbsp;</h2>
	  [% IF error_msg %]
	  <p class="error">[% error_msg %]</p>
	  [% END %]
    
	    <p>Username<br />
	      <input name="username" type="text" style="width:120px" size="20" /></p>
	    <p>Password<br />
	      <input name="password" type="password" style="width:120px" size="20" /></p>
	    <p>
	      <input name="I1" type="image" src="/images/login_btn.jpg" alt="Login" width="58" height="19" />
	    </p>
    
  </form>
      
[% INCLUDE partials/admin_footer.tt %]
