<tmpl_include name=../header.html>

  <form name="form" method="post" action="<tmpl_var name=URL_WHOLESALE_LOGIN>" onSubmit="return verify_change_passwd();">
    <input type="hidden" name="mode" value="change_passwd" />

  <div id="innerRight">
    <div id="featured">
      <h1><br>
	Aztecimport.com<br>
	Change Password</h1>

      <div class="featuredLeft" style="width: 265; height: 110">
	
	<p><br>
	  Currently, your password is the same as your username. Please update your password to something more secure.
      </div>
      <div class="featuredRight">
	<tmpl_if name=error_msg>
	  <p class="error"><tmpl_var name=error_msg></p>
	  </tmpl_if>

	<h2>New Password :<br>
          <br />
	<input type="password" name="password" style="width:120px" size="30" /><br><br>
	<h2>Confirm New Password :<br>
          <br />
	<input type="password" name="confirm_password" style="width:120px" size="30" /><br><br>
	<br />
	<div align="left">
	  <input name="I1" type="image" src="/images/submit_btn.jpg" alt="Submit" width="58" height="19" />
	</div>
	&nbsp;</h2>
      </div>

  </form>

<tmpl_include name=../footer.html>
