[% INCLUDE partials/header.tt %]

<div class="container">

    <form name="form" method="post" action="/wholesale/login" onSubmit="return verify_login();">
      <input type="hidden" name="mode" value="login" />
      
    <div id="innerRight">
      <div id="featured">
	  
	  <h2>&nbsp;</h2>
	  [% IF error_msg %]
	  	<div class="alert alert-danger" role="alert">
			[% error_msg %]
		</div>
	  [% END %]
    
	    <p>Username<br />
	      <input name="username" type="text" style="width:120px" size="20" class="form-control" /></p>
	    <p>Password<br />
	      <input name="password" type="password" style="width:120px" size="20" class="form-control"/>

		  <br />

		  <button type="submit" class="btn btn-primary btn-sm">Login</button>


	    </p>
    
  </form>
      
</div>

[% INCLUDE partials/footer.tt %]