<tmpl_include name="../header.html">

  <form name="form" method="post" action="<tmpl_var name=URL_WHOLESALE_LOGIN>">
    <input type="hidden" name="mode" value="logout" />
    
  <div id="innerRight">
    <div id="featured">
      <h1><br>
	Aztecimport.com<br>
	Wholesaler Confirm Logoff </h1>
      <div class="featuredLeft" style="width: 265; height: 184">
	
	<h2>&nbsp;</h2>
	
	<p>Are you sure you want to logout?<br />
	<input type="submit" name="submit_logout" value="No" />
	&nbsp;&nbsp;&nbsp;
	<input type="submit" name="submit_logout" value="Yes" />
      </p>
      </div>
      <div class="featuredRight">
	&nbsp;</div>

  </form>
      
<tmpl_include name="../footer.html">
