[% INCLUDE partials/header.tt %]

      <div id="featured">
						    <h1>Special Links</h1>
			                <div class="featuredLeft">

			    <p><br class="auto-style12">
                <span class="auto-style9"><span class="auto-style4">Aztec would proudly like to recommend some of our most valued 
                members and partners. To have you link added to this page,
                </span>
                <a href="mailto:dan@aztecimport.com?subject=Add me to the Aztecimport.com Links page!">
                <span class="auto-style4">send us an email to find out how!</span></a></span><br class="auto-style10" />
				<br />
								</p>
						    <h1>Return, Refund, Shipping and Privacy Policies</h1>
			                	<p class="MsoNormal">
								<b style="mso-bidi-font-weight:normal"><u>
								<span class="auto-style4" style="line-height: 115%; font-family: &quot;Trebuchet MS&quot;,&quot;sans-serif&quot;; mso-bidi-font-family: Calibri; background: white">
								<br />
								</span>
								<span class="auto-style10" style="line-height: 115%; mso-bidi-font-family: Calibri; background: white">
								Return and Refund Policy<o:p></o:p></span></u></b></p>
								<p class="MsoNormal">
								<span class="auto-style11" style="line-height: 115%; mso-bidi-font-family: Calibri; background: white">
								<span class="auto-style13">If any item is 
								damaged or defective &#8211; please notify</span><o:p><span class="auto-style13">
								</span></o:p>
								<span class="auto-style13">us within 10 days. We 
								will replace or credit after</span><o:p><span class="auto-style13">
								</span></o:p>
								<span class="auto-style13">evaluating the 
								problem.</span></span><b style="mso-bidi-font-weight:normal"><span class="auto-style10" style="line-height: 115%; mso-bidi-font-family: Calibri; background: white"><o:p>&nbsp;</o:p></span></b></p>
								<p class="MsoNormal">
								<b style="mso-bidi-font-weight:normal"><u>
								<span class="auto-style10" style="line-height: 115%; mso-bidi-font-family: Calibri; background: white">
								Shipping Policy<o:p></o:p></span></u></b></p>
								<p class="MsoNormal">
								<span class="auto-style11" style="line-height: 115%; mso-bidi-font-family: Calibri; background: white">
								<span class="auto-style13">Most orders will ship 
								within 1-2 days.</span><o:p><span class="auto-style13">
								</span></o:p>
								<span class="auto-style13">We might take 3-4 
								business days to ship orders</span><o:p><span class="auto-style13">
								</span></o:p>
								<span class="auto-style13">during trade show 
								season or Holidays.</span><o:p><span class="auto-style13">
								</span></o:p>
								<span class="auto-style13">We ship via USPS, 
								UPS, or Fed Ex.</span><o:p><span class="auto-style13">
								</span></o:p>
								<span class="auto-style13">Aztec always 
								evaluates each order and chooses the</span><o:p><span class="auto-style13">
								</span></o:p>
								</span>
								<span class="auto-style9" style="line-height: 115%; mso-bidi-font-family: Calibri; background: white">
								<span class="auto-style3">
								<span class="auto-style13">most economical way 
								to ship.</span><o:p><span class="auto-style13">&nbsp;</span></o:p></span></span></p>
								<p><b style="mso-bidi-font-weight:normal"><u>
								<span class="auto-style10" style="mso-bidi-font-family: Calibri; background: white">
								Privacy Policy</span></u></b><span class="auto-style9" style="mso-bidi-font-family: Calibri; background: white"><br class="auto-style4" />
								<br class="auto-style4" />
								</span>
								<span class="auto-style10" style="mso-bidi-font-family: Arial">
								This Privacy Policy governs the manner in which 
								Aztec Imports collects, uses, maintains and 
								discloses information collected from users 
								(each, a &quot;User&quot;) of the&nbsp;aztecimport.com &nbsp;website 
								(&quot;Site&quot;). This privacy policy applies to the 
								Site and all products and services offered by 
								Aztec Imports.</span><span style="font-family:&quot;Trebuchet MS&quot;,&quot;sans-serif&quot;"><o:p></o:p></span></p>
								<p class="MsoNormal"><b>
								<span class="auto-style10" style="mso-fareast-font-family: &quot;Times New Roman&quot;; mso-bidi-font-family: Arial">
								Personal identification information</span><span style="font-size:12.0pt;font-family:&quot;Trebuchet MS&quot;,&quot;sans-serif&quot;;mso-fareast-font-family:
&quot;Times New Roman&quot;;mso-bidi-font-family:&quot;Times New Roman&quot;"><o:p></o:p></span></b></p>
								<p class="MsoNormal">
								<span class="auto-style10" style="mso-fareast-font-family: &quot;Times New Roman&quot;; mso-bidi-font-family: Arial">
								We may collect personal identification 
								information from Users in a variety of ways, 
								including, but not limited to, when Users visit 
								our site, register on the site, place an order, 
								fill out a form, subscribe to the newsletter and 
								in connection with other activities, services, 
								features or resources we make available on our 
								Site. Users may be asked for, as appropriate, 
								name, email address, mailing address, phone 
								number, credit card information.</span><span style="font-size:
12.0pt;font-family:&quot;Trebuchet MS&quot;,&quot;sans-serif&quot;;mso-fareast-font-family:&quot;Times New Roman&quot;;
mso-bidi-font-family:&quot;Times New Roman&quot;"><o:p></o:p></span></p>
								<p class="MsoNormal">
								<span class="auto-style10" style="mso-fareast-font-family: &quot;Times New Roman&quot;; mso-bidi-font-family: Arial">
								Users may, however, visit our Site anonymously.</span><span style="font-size:12.0pt;
font-family:&quot;Trebuchet MS&quot;,&quot;sans-serif&quot;;mso-fareast-font-family:&quot;Times New Roman&quot;;
mso-bidi-font-family:&quot;Times New Roman&quot;"><o:p></o:p></span></p>
								<p class="MsoNormal">
								<span class="auto-style10" style="mso-fareast-font-family: &quot;Times New Roman&quot;; mso-bidi-font-family: Arial">
								We will collect personal identification 
								information from Users only if they voluntarily 
								submit such information to us. Users can always 
								refuse to supply personally identification 
								information, except that it may prevent them 
								from engaging in certain Site related 
								activities.</span><span style="font-size:12.0pt;
font-family:&quot;Trebuchet MS&quot;,&quot;sans-serif&quot;;mso-fareast-font-family:&quot;Times New Roman&quot;;
mso-bidi-font-family:&quot;Times New Roman&quot;"><o:p></o:p></span></p>
								<p class="MsoNormal"><b>
								<span class="auto-style10" style="mso-fareast-font-family: &quot;Times New Roman&quot;; mso-bidi-font-family: Arial">
								Non-personal identification information</span><span style="font-size:12.0pt;font-family:&quot;Trebuchet MS&quot;,&quot;sans-serif&quot;;
mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-font-family:&quot;Times New Roman&quot;"><o:p></o:p></span></b></p>
								<p class="MsoNormal">
								<span class="auto-style10" style="mso-fareast-font-family: &quot;Times New Roman&quot;; mso-bidi-font-family: Arial">
								We may collect non-personal identification 
								information about Users whenever they interact 
								with our Site. Non-personal identification 
								information may include the browser name, the 
								type of computer and technical information about 
								Users means of connection to our Site, such as 
								the operating system and the Internet service 
								providers utilized and other similar 
								information.</span><span style="font-size:12.0pt;font-family:&quot;Trebuchet MS&quot;,&quot;sans-serif&quot;;mso-fareast-font-family:
&quot;Times New Roman&quot;;mso-bidi-font-family:&quot;Times New Roman&quot;"><o:p></o:p></span></p>
								<p class="MsoNormal"><b>
								<span class="auto-style10" style="mso-fareast-font-family: &quot;Times New Roman&quot;; mso-bidi-font-family: Arial">
								Web browser cookies</span><span style="font-size:12.0pt;font-family:&quot;Trebuchet MS&quot;,&quot;sans-serif&quot;;mso-fareast-font-family:
&quot;Times New Roman&quot;;mso-bidi-font-family:&quot;Times New Roman&quot;"><o:p></o:p></span></b></p>
								<p class="MsoNormal">
								<span class="auto-style10" style="mso-fareast-font-family: &quot;Times New Roman&quot;; mso-bidi-font-family: Arial">
								Our Site may use &quot;cookies&quot; to enhance User 
								experience. User's web browser places cookies on 
								their hard drive for record-keeping purposes and 
								sometimes to track information about them. User 
								may choose to set their web browser to refuse 
								cookies, or to alert you when cookies are being 
								sent. If they do so, note that some parts of the 
								Site may not function properly.</span><span style="font-size:12.0pt;font-family:&quot;Trebuchet MS&quot;,&quot;sans-serif&quot;;mso-fareast-font-family:
&quot;Times New Roman&quot;;mso-bidi-font-family:&quot;Times New Roman&quot;"><o:p></o:p></span></p>
								<p class="MsoNormal"><b>
								<span class="auto-style10" style="mso-fareast-font-family: &quot;Times New Roman&quot;; mso-bidi-font-family: Arial">
								How we use collected information</span><span style="font-size:12.0pt;font-family:&quot;Trebuchet MS&quot;,&quot;sans-serif&quot;;mso-fareast-font-family:
&quot;Times New Roman&quot;;mso-bidi-font-family:&quot;Times New Roman&quot;"><o:p></o:p></span></b></p>
								<p class="MsoNormal">
								<span class="auto-style10" style="mso-fareast-font-family: &quot;Times New Roman&quot;; mso-bidi-font-family: Arial">
								Aztec Imports collects and uses Users personal 
								information for the following purposes:</span><span style="font-size:12.0pt;font-family:&quot;Trebuchet MS&quot;,&quot;sans-serif&quot;;
mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-font-family:&quot;Times New Roman&quot;"><o:p></o:p></span></p>
								<p style="mso-fareast-font-family: &quot;Times New Roman&quot;; mso-bidi-font-family: &quot;Times New Roman&quot;">
								<span class="auto-style10">- To improve customer 
								service</span><br class="auto-style10" />
								<span class="auto-style10">Your information 
								helps us to more effectively respond to your 
								customer service requests and support needs.</span><o:p></o:p></p>
								<p style="mso-fareast-font-family: &quot;Times New Roman&quot;; mso-bidi-font-family: &quot;Times New Roman&quot;">
								<span class="auto-style10">- To process 
								transactions</span><br class="auto-style10" />
								<span class="auto-style10">We may use the 
								information Users provide about themselves when 
								placing an order only to provide service to that 
								order. We do not share this information with 
								outside parties except to the extent necessary 
								to provide the service.</span><o:p></o:p></p>
								<p class="auto-style10" style="mso-fareast-font-family: &quot;Times New Roman&quot;; mso-bidi-font-family: &quot;Times New Roman&quot;">
								- To send periodic emails<o:p></o:p></p>
								<p class="MsoNormal">
								<span class="auto-style10" style="mso-fareast-font-family: &quot;Times New Roman&quot;; mso-bidi-font-family: Arial">
								The email address Users provide for order 
								processing, will only be used to send them 
								information and updates pertaining to their 
								order. It may also be used to respond to their 
								inquiries, and/or other requests or questions. 
								If User decides to opt-in to our mailing list, 
								they will receive emails that may include 
								company news, updates, related product or 
								service information, etc. If at any time the 
								User would like to unsubscribe from receiving 
								future emails, we include detailed unsubscribe 
								instructions at the bottom of each email or User 
								may contact us via our Site.</span><span style="font-size:12.0pt;font-family:
&quot;Trebuchet MS&quot;,&quot;sans-serif&quot;;mso-fareast-font-family:&quot;Times New Roman&quot;;
mso-bidi-font-family:&quot;Times New Roman&quot;"><o:p></o:p></span></p>
								<p class="MsoNormal"><b>
								<span class="auto-style10" style="mso-fareast-font-family: &quot;Times New Roman&quot;; mso-bidi-font-family: Arial">
								How we protect your information</span><span style="font-size:12.0pt;font-family:&quot;Trebuchet MS&quot;,&quot;sans-serif&quot;;mso-fareast-font-family:
&quot;Times New Roman&quot;;mso-bidi-font-family:&quot;Times New Roman&quot;"><o:p></o:p></span></b></p>
								<p class="MsoNormal">
								<span class="auto-style10" style="mso-fareast-font-family: &quot;Times New Roman&quot;; mso-bidi-font-family: Arial">
								We adopt appropriate data collection, storage 
								and processing practices and security measures 
								to protect against unauthorized access, 
								alteration, disclosure or destruction of your 
								personal information, username, password, 
								transaction information and data stored on our 
								Site.</span><span style="font-size:12.0pt;font-family:&quot;Trebuchet MS&quot;,&quot;sans-serif&quot;;
mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-font-family:&quot;Times New Roman&quot;"><o:p></o:p></span></p>
								<p class="MsoNormal">
								<span class="auto-style10" style="mso-fareast-font-family: &quot;Times New Roman&quot;; mso-bidi-font-family: Arial">
								Sensitive and private data exchange between the 
								Site and its Users happens over a SSL secured 
								communication channel and is encrypted and 
								protected with digital signatures.</span><span style="font-size:12.0pt;font-family:&quot;Trebuchet MS&quot;,&quot;sans-serif&quot;;
mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-font-family:&quot;Times New Roman&quot;"><o:p></o:p></span></p>
								<p class="MsoNormal"><b>
								<span class="auto-style10" style="mso-fareast-font-family: &quot;Times New Roman&quot;; mso-bidi-font-family: Arial">
								Changes to this privacy policy</span><span style="font-size:12.0pt;font-family:&quot;Trebuchet MS&quot;,&quot;sans-serif&quot;;mso-fareast-font-family:
&quot;Times New Roman&quot;;mso-bidi-font-family:&quot;Times New Roman&quot;"><o:p></o:p></span></b></p>
								<p class="MsoNormal">
								<span class="auto-style10" style="mso-fareast-font-family: &quot;Times New Roman&quot;; mso-bidi-font-family: Arial">
								Aztec Imports has the discretion to update this 
								privacy policy at any time. When we do, post a 
								notification on the main page of our Site. We 
								encourage Users to frequently check this page 
								for any changes to stay informed about how we 
								are helping to protect the personal information 
								we collect. You acknowledge and agree that it is 
								your responsibility to review this privacy 
								policy periodically and become aware of 
								modifications.</span><span style="font-size:12.0pt;
font-family:&quot;Trebuchet MS&quot;,&quot;sans-serif&quot;;mso-fareast-font-family:&quot;Times New Roman&quot;;
mso-bidi-font-family:&quot;Times New Roman&quot;"><o:p></o:p></span></p>
								<p class="MsoNormal"><b>
								<span class="auto-style10" style="mso-fareast-font-family: &quot;Times New Roman&quot;; mso-bidi-font-family: Arial">
								Your acceptance of these terms</span><span style="font-size:12.0pt;font-family:&quot;Trebuchet MS&quot;,&quot;sans-serif&quot;;mso-fareast-font-family:
&quot;Times New Roman&quot;;mso-bidi-font-family:&quot;Times New Roman&quot;"><o:p></o:p></span></b></p>
								<p class="MsoNormal">
								<span class="auto-style10" style="mso-fareast-font-family: &quot;Times New Roman&quot;; mso-bidi-font-family: Arial">
								By using this Site, you signify your acceptance 
								of this policy and terms of service. If you do 
								not agree to this policy, please do not use our 
								Site. Your continued use of the Site following 
								the posting of changes to this policy will be 
								deemed your acceptance of those changes.</span><span style="font-size:12.0pt;font-family:
&quot;Trebuchet MS&quot;,&quot;sans-serif&quot;;mso-fareast-font-family:&quot;Times New Roman&quot;;
mso-bidi-font-family:&quot;Times New Roman&quot;"><o:p></o:p></span></p>
								<p class="MsoNormal"><b>
								<span class="auto-style10" style="mso-fareast-font-family: &quot;Times New Roman&quot;; mso-bidi-font-family: Arial">
								Contacting us</span><span style="font-size:12.0pt;font-family:&quot;Trebuchet MS&quot;,&quot;sans-serif&quot;;mso-fareast-font-family:
&quot;Times New Roman&quot;;mso-bidi-font-family:&quot;Times New Roman&quot;"><o:p></o:p></span></b></p>
								<p class="MsoNormal">
								<span class="auto-style9" style="mso-fareast-font-family: &quot;Times New Roman&quot;; mso-bidi-font-family: Arial">
								<span class="auto-style4">If you have any 
								questions about this Privacy Policy, the 
								practices of this site, or your dealings with 
								this site, please contact us at: </span>
								<a href="mailto:aztec6345@aol.com">
								<span class="auto-style4">aztec6345@aol.com</span></a></span><span class="auto-style12" style="mso-fareast-font-family: &quot;Times New Roman&quot;; mso-bidi-font-family: Arial">
								</span><br class="auto-style12"><br>&nbsp;</p>
		    </div>
			  <div style="clear: left;"></div>
	  </div>
    </div><div style="clear: left;"></div>
  </div>	
[% INCLUDE partials/footer.tt %]