<tmpl_include name=../header.html>

  <form name="form" method="post" action="<tmpl_var name=URL_ADMIN_MONTHLY_SPECIALS>" enctype="multipart/form-data">
    <input type="hidden" name="mode" value="results" />

  <div id="innerRight">
    <div id="featured">
      <h1><br>
	Aztecimport.com<br>
	Monthly Specials</h1>
      <div class="featuredLeft" style="width: 265; height: 110">
	
	<p><br>
	  Upload the file containing the new monthly specials.
      </div>
      <div class="featuredRight">
<!-- 	<h2>Select a Date :<br> -->
<!-- 	<select name="month"> -->
<!-- 	<tmpl_loop name=months> -->
<!-- 	  <option value="<tmpl_var name=id>" <tmpl_if name=default>selected</tmpl_if>><tmpl_var name=name></option> -->
<!-- 	</tmpl_loop> -->
<!-- 	</select> -->
<!-- 	<select name="year"> -->
<!-- 	<tmpl_loop name=years> -->
<!-- 	  <option value="<tmpl_var name=id>" <tmpl_if name=default>selected</tmpl_if>><tmpl_var name=id></option> -->
<!-- 	</tmpl_loop> -->
<!-- 	</select> -->
<!-- 	    <br /><br /> -->
	<h2>File to Upload :<br>
	<input type="file" name="filename" style="width:120px" size="30" /><br><br>
	<div align="left">
	  <input name="I1" type="image" src="/images/submit_btn.jpg" alt="Submit" width="58" height="19" />
	</div>
	&nbsp;</h2>
      </div>

  </form>

<tmpl_include name=../footer.html>
