<tmpl_include name="../header.html">

  <div id="innerRight">
    <div id="featured">

      <h1><br>
	AztecImports.com<br>
	Payment Response Form <tmpl_if name=testing>(Testing)</tmpl_if></h1>
      <br>
      
      <tmpl_if name=success>
      <table class="data">
	<tr>
	  <td>
	    <div align="center">
	      Thank you! Your payment has been accepted.<br />
	      Please print or save a copy of this page, as it is your proof of payment.<br /><br />
	      <p>
		Aztec Imports Inc.,<br />
		  6345 Norwalk Road<br />
		  Medina, Ohio USA<br />
		  44256-7110<br />
		  Phone: 330-725-0770<br />
		  Orders: 800-624-4601<br />
		  Fax: 330-723-0352<br />
	      <tmpl_var name=transaction_date_created>
	      </p>
	    </div>
	    <p>
	      <b>Billed To:</b><br />
	      <tmpl_var name=FirstName> <tmpl_var name=LastName> (Account ID: <tmpl_var name=Payer>) <br />
		    <tmpl_var name=FirstName> <tmpl_var name=LastName><br />
			<tmpl_var name=Street1><br />
			  <tmpl_if name=Street2><tmpl_var name=Street2><br /></tmpl_if>
			<tmpl_var name=CityName>, <tmpl_var name=StateOrProvince> <tmpl_var name=PostalCode><br />
		      </p>
			<p><br />
			      <tmpl_var name=FirstName> <tmpl_var name=LastName>,
			</p>
			  <p>
			    Thank you for purchasing the following with <tmpl_var name=SITE>:
			  </p>
	  </td>
	</tr>
	<tr>
	  <td align="center">
	    <table>
	      <tr>
		<td><strong><u>Item #</u></strong></td>
		<td><strong><u>Description</u></strong></td>
		<td><strong><u>Quantity</u></strong></td>
		<td><strong><u>Cost</u></strong></td>
	      </tr>
		<tmpl_loop name=items>
	      <tr>
		<td><font size=1><tmpl_var name=item_name></td>
		<td><font size=1><tmpl_var name=description></td>
		<td><font size=1><tmpl_var name=quantity></td>
		<td><font size=1><tmpl_var name=total></td>
	      </tr>
		  </tmpl_loop>
	    </table>
	  </td>
	</tr>
	<tr>
	  <td>
	    <p><br />
	      Total Amount Charged: US <tmpl_var name=OrderTotal><br />
	      Remote IP Address: <tmpl_var name=IPAddress><br />
	      </p>
		<div align="center">
		  <span class="small">** This is an official <tmpl_var name=SITE> receipt/sales draft for proof of payment.</span>
		</div>
	  </td>
	</tr>
      </table>
      <tmpl_else>
	<table class="data">
	  <tr>
	    <td>
	      <table>
		<tr>
		  <td><tmpl_var name=error_msg></td>
		</tr>
	      </table>
	    </td>
	  </tr>
	  <tr class="buttons">
	    <td>
	      <input class="inputsubmit" type="button" name="back" value="Go Back" onClick="javascript:history.go(-1)" />
	    </td>
	  </tr>
	</table>
      </tmpl_if>  
</div>

<tmpl_include name="../footer.html">
