[% INCLUDE partials/shop_header.tt %]

  <div id="innerRight">
    <div id="featured">

      <h1><br>
	AztecImports.com<br>
	Pre-existing Terms Payment</h1>
      <br>
	  [% IF results.error_msg %]
		<p class="error">[% results.error_msg %]</p>
	  [% END %]
	
	<form name="form" method="post" action="/wholesale/payment" onSubmit="return verify_net30_payment();">
	  <input type="hidden" name="mode" value="net30" />
	  
	<table class="data" width="100%">
	  <tr>
	    <td align="center">
	      <table width="100%">
		<tr>
		  <th><b>Amount to be billed :</b> </th>
		  <td><b>[% results.locale_symbol %][% results.price_formatted %]*</b></td>
		</tr>
		<tr>
		  <th><b>Account ID :</b> </th>
		  <td><b>[% results.username %]</b></td>
		</tr>
		<tr>
		  <th><b>Email Address (required) :</b> </th>
		  <td><b><input required type="email" name="Email" value="" size="40" /></b></td>
		</tr>
		<tr>
		  <th>Special Instructions : </th>
		  <td><textarea name="special_instructions" cols="30" rows="3"></textarea></td>
		</tr>
	      </table>
	    </td>
	  </tr>
	  <tr class="buttons">
	    <td>
	      <input class="inputsubmit" type="submit" name="submit_net30" value="Submit" />
	    </td>
	  </tr>
	</table>
      </form>

	<div align="center">
	  <p>
	    <b>By clicking the submit button you are agreeing to purchase these items under your pre-existing Aztec account terms and conditions.</b>
	  </p>
	  <p>
	    <b>*</b> Freight and shipping cost will be calculated after the weight and location of all orders are processed.
	  </p>
	  <p>
	    <b>*</b>Please Print yourself a copy of this order before submitting.
	  </p>
	</div>

    </div>


[% INCLUDE partials/shop_footer.tt %]
