<tmpl_include name="../header.html">

  <div id="innerRight">
    <div id="featured">

      <h1><br>
	AztecImports.com<br>
	Payment Options</h1>
<br>
      <tmpl_if name=error_msg>
	<p class="error"><tmpl_var name=error_msg></p>
	</tmpl_if>

	<p>The more you order, the more you save! (Discount percentages good only on in stock merchandise)</p>
	<ul class="list">
	  <li>Order $200 - $349 for 2% discount</li>
	  <li>Order $350- $499 for 3% discount</li>
	  <li>Order $500-999 for 5% discount</li>
	  <li>Order $1,000 or more for 7% discount</li>
	</ul><br />

	<p>Although you can pre-pay online, Aztec prefers you to select "pre-existing terms" so we can get an accurate final total for you before we process the payment.  At that time you can pay with credit card, pay pal, or your own pre-existing terms.</p>

	<form name="form" method="post" action="<tmpl_var name=URL_WHOLESALE_PAYMENT>">
	  <input type="hidden" name="mode" value="payment" />
	  
	<table class="data" width="100%">
	  <tr>
	    <td align="center">
	      <table width="100%">
		<tr>
		  <td valign="top">
		    <input type="radio" name="payment_option" value="0" checked />
		  </td>
		  <td>
		    <b>Pre-existing Terms</b><br />
		    Click here if you have Net30 or preexisting account terms set up with Aztec Imports. Your order will be submitted without payment being made.
		  </td>
		</tr>
	      </table>
	    </td>
	  </tr>
	  <tr class="buttons">
	    <td>
	      <input class="inputsubmit" type="submit" name="submit_options" value="Continue" onClick="this.disable;" />
	    </td>
	  </tr>
	</table>
      </form>
    </div>

<tmpl_include name="../footer.html">
