<tmpl_include name="../../header.html">

  <tmpl_if name=error_msg>
    <p class="error"><tmpl_var name=error_msg></p>
    </tmpl_if>
    
    <form name="form" method="post" action="<tmpl_var name=URL_ADMIN_PRODUCTS>" onSubmit="return verify_admin_product();">
      <input type="hidden" name="mode" value="edit" />
      <input type="hidden" name="id" value="<tmpl_var name=id>" />

    <table class="data">
      <thead>
	<tr>
	  <th>Product Information</th>
	</tr>
      </thead>
      <tbody>
	<tr>
	  <td>
	    <table class="data-fields">
	      <tr>
		<th>
		  Item Name :
		</th>
		<td>
		  <input type="text" name="item_name" size="40" value="<tmpl_var name=item_name>" />
		</td>
	      </tr>
	      <tr>
		<th>
		  Description :
		</th>
		<td>
		  <textarea name="description" cols="35" rows="2"><tmpl_var name=description></textarea>
		</td>
	      </tr>
	      <tr>
		<th>
		  Unit of Measure :
		</th>
		<td>
		  <select name="unit_of_measure">
		  <tmpl_loop name=units_of_measure>
		    <option value="<tmpl_var name=id>" <tmpl_if name=default>selected</tmpl_if>><tmpl_var name=name></option>
		    </tmpl_loop>
		  </select>
		</td>
	      </tr>
	      <tr>
		<th>
		  Minimum :
		</th>
		<td>
		  <input type="text" name="minimum" size="40" value="<tmpl_var name=minimum>" />
		</td>
	      </tr>
	      <tr>
		<th>
		  US Price :
		</th>
		<td>
		  <input type="text" name="us_price" size="40" value="<tmpl_var name=us_price>" />
		</td>
	      </tr>
	      <tr>
		<th>
		  Retail Price :
		</th>
		<td>
		  <input type="text" name="retail_price" size="40" value="<tmpl_var name=retail_price>" />
		</td>
	      </tr>
	      <tr>
		<th>
		  UK Price :
		</th>
		<td>
		  <input type="text" name="uk_price" size="40" value="<tmpl_var name=uk_price>" />
		</td>
	      </tr>
	      <tr>
		<th>
		  Catalog :
		</th>
		<td>
		  <input type="text" name="catalog" size="40" value="<tmpl_var name=catalog>" />
		</td>
	      </tr>
	      <tr>
		<th>
		  Catalog Page :
		</th>
		<td>
		  <input type="text" name="catalog_page" size="40" value="<tmpl_var name=catalog_page>" />
		</td>
	      </tr>
	    </table>
	  </td>
	</tr>
	<tr class="buttons">
	  <td>
	    <input type="button" name="back" value="Cancel" onClick="history.go(-1);" />
	    <input type="submit" name="submit_edit" value="Submit" />
	  </td>
	</tr>
      </tbody>
    </table>
    <br />

    </form>
      
<tmpl_include name="../../footer.html">
