<!DOCTYPE html "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
      <title>Aztec Imports - Miniatures &amp; Miniature Accessories</title>
      <meta name="KEYWORDS" content="keyword01,keyword02,keyword03"/>
      <meta name="DESCRIPTION" content="Aztec Imports Dollhouses, Dolls & Dollhouse Accessories"/> 
      <meta name="Robots" content="index,follow" />
      <meta name="GOOGLEBOT" content="INDEX, FOLLOW"/>
      <meta name="Revisit-after" content="7 days"/>
      <meta content="General" name="Rating"/>
      <meta name="Author" content="Ryport Media www.ryport.com"/>
      <meta name="classification" content="Dolls and Miniatures"/>
      <meta name="abstract" content="Your Abstract"/>
      <script type="text/javascript" src="<tmpl_var name=URL_JS>"></script>
      <link rel="stylesheet" type="text/css" href="/css/my_styles.css" />

      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
				      
  </head>

  <body id="homePage" onload="">


<div class="jumbotron">
  [% IF logged_in %]

	<p>- <a href="/admin/orders">Orders</a></p>
	<p>- <a href="/admin/items/upload-items">Upload Items</a></p>
	<p>- <a href="/admin/items/upload-pictures">Product Pictures</a></p>
	<p>- <a href="/admin/retail-locator">Retail Locator Database</a></p>
	<p>- <a href="/admin/manage-customers">Manage Customers</a></p>
	<p>- <a href="/wholesale/logout">Logout</a></p>

[% END %]





