[% INCLUDE partials/header.tt %] 
      <div id="featured">
						    <h1>Contact Us</h1>
			                <div class="featuredLeft">

			    <p align="left">
				<span class="auto-style1" style="line-height: 115%; mso-fareast-font-family: Calibri; mso-fareast-theme-font: minor-latin; background: white; mso-ansi-language: EN-US; mso-fareast-language: EN-US; mso-bidi-language: AR-SA">
				Customer service hours are M-F&nbsp;</span><span class="aqj"><span style="z-index:-1"><span class="auto-style1" data-term="goog_1251996708" style="font-variant-ligatures: normal;font-variant-caps: normal;orphans: 2;
text-align:start;widows: 2;-webkit-text-stroke-width: 0px;text-decoration-style: initial;
text-decoration-color: initial;word-spacing:0px;z-index:0" tabindex="0">8am to 
				4pm</span></span></span><span style="font-variant-ligatures: normal;font-variant-caps: normal;orphans: 2;
text-align:start;widows: 2;-webkit-text-stroke-width: 0px;text-decoration-style: initial;
text-decoration-color: initial;float:none;word-spacing:0px"><span class="auto-style1">&nbsp;Eastern 
				Standard Time</span><br />
				</span><br>
                <u>
                <b>U.S.A. Office:</b></u><br>
                6345 Norwalk Road<br>
                Medina, Ohio USA<br>
                44256-7110<br>
                <br>
                <b>Phone:</b> 330-725-0770<br>
                <b>Orders:</b> 800-624-4601<br>
                <b>Fax:</b> 330-723-0352<br>
                <b>Email:</b> aztec6345@aol.com<br>
                <br>
                <u><b>U.K. Office:</b></u><br>
                William Owen -
                Office Manager<br>
                Aztec Imports Inc (UK)<br>
                Unit B2, Tremy Dyffryn<br>
                Colomendy Industrial Estate<br>
                Denbigh, Denbighshire<br>
                North Wales, UK&nbsp; LL16 5TX<br>
                <b>Phone:</b> (01745) 816668<br>
                <b>Fax:</b> (01745) 812112<br>
                <b>Email:</b>&nbsp;aztec6141@aol.com<br>
                <br>
                <b>- wholesale only-</b><br>
                &nbsp;</p>
		    </div>
			  <div class="featuredRight">
          <h2><br>
          <br>
          <img border="0" src="/images/contactlogo.jpg" width="177" height="133">&nbsp;</h2>
		    </div>
			  <div style="clear: left;"></div>
	  </div>
    </div><div style="clear: left;"></div>
  </div>	
  [% INCLUDE partials/footer.tt %]